<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>

<body>
	<div th:replace="theme/home :: top" />
	<div th:replace="theme/home :: p-h" />
	<div id="content">
		<div class="left_menu" th:utext="${session.li}"/>
		<div class="m-right">
			<div th:replace="theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform">
						<input type="hidden" name="del_id" id="del_id" value="" /> <input
							type="hidden" name="page" id="page" th:value="${page.page}" /> <input
							type="hidden" name="page_size" id="page_size"
							th:value="${page.page_size}" /> <input type="hidden"
							name="page_count" id="page_count" th:value="${page.page_count}" />
						<div class="container">
							<br />
							<div class="row">
								<div class="col-md-2">

									<div class="input-group" style="vertical-align: middle">
										每页显示
										<div class="input-group-btn">
											每页显示
											<button id="page_title" type="button"
												class="btn btn-default dropdown-toggle"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" th:text="${page.page_size}">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a name="page_s">10</a></li>
												<li><a name="page_s">20</a></li>
												<li><a name="page_s">30</a></li>
												<li><a name="page_s">50</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<br />
							<div class="row" th:inline="text">
								<div class="col-md-5">
									<label for="start_date" class="col-md-3 control-label">开始时间</label>
									<div id="start_datetime" class="input-group date form_datetime"
										th:data-date="${form.start_date}"
										data-date-format="yyyy-mm-dd  hh:ii"
										data-link-field="start_date">
										<input class="form-control" size="16" type="text"
											th:value="${form.start_date}" readonly="true" /> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-remove"></span></span> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-th"></span></span>
									</div>
								</div>
								<div class="col-md-5">
									<label for="end_date" class="col-md-3 control-label">结束时间</label>
									<div id="end_datetime" class="input-group date form_datetime"
										th:data-date="${form.end_date}"
										data-date-format="yyyy-mm-dd  hh:ii"
										data-link-field="end_date">
										<input class="form-control" size="16" type="text"
											th:value="${form.end_date}" readonly="true" /> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-remove"></span></span> <span
											class="input-group-addon"><span
											class="glyphicon glyphicon-th"></span></span>
									</div>
									<input type="hidden" name="start_date" id="start_date"
										th:value="${form.start_date}" /><br /> <input type="hidden"
										name="end_date" id="end_date" th:value="${form.end_date}" /><br />
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">交班记录</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr>
													<td>编号</td>
													<td>停车场编号</td>
													<td>停车场名称</td>
													<td>任务类型</td>
													<td>任务开始时间</td>
													<td>任务结束时间</td>
													<td>搜索开始时间</td>
													<td>搜索结束时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="log,iterStat : ${log}">
													<td
														th:text="${iterStat.count+(page.page-1)*page.page_size}"></td>
													<td th:text="${log.park_id}"></td>
													<td th:text="${log.park_name}"></td>
													<td th:id="'flag'+${log.flag}" th:text="${log.flag}"></td>
													<td th:text="${log.task_start_time}"></td>
													<td th:text="${log.task_end_time}"></td>
													<td th:text="${log.search_start_time}"></td>
													<td th:text="${log.search_end_time}"></td>

												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="8"><a
														href="javascript:sub(1)" class="btn btn-primary">首页</a> <a
														th:href="'javascript:sub('+${page.page-1}+')'"
														class="btn btn-primary">前页</a> <span
														th:text="'当前页:'+${page.page}+'/总页数:'+${page.page_count}"></span>
														<a th:href="'javascript:sub('+${page.page+1}+')'"
														class="btn btn-primary">后页</a> <a
														th:href="'javascript:sub('+${page.page_count}+')'"
														class="btn btn-primary">末页</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<br />


						</div>
					</form>
				</div>

			</div>

		</div>

	</div>
	<div class="source-code runnable"></div>


</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
<script
	th:src="@{../static/bootstrap/dist/js/bootstrap-datetimepicker.min.js}"></script>
<script
	th:src="@{../static/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap-dialog.min.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function sub(page) {
		$("#page").val(page);
		$("#myform").submit();
	}

	$.fn.modal.Constructor.prototype.enforceFocus = function() {
	};
	$(function() {
		navList(12);
		color();
		$("[name=page_s]").click(function(e) {
			e.preventDefault();
			$("#page_title").text($(this).text());
			$("#page_size").val($(this).text());
			$("#page").val(1);
			$("#myform").submit();
		});
		$('#start_datetime,#end_datetime').datetimepicker({
			language : 'zh-CN',
			weekStart : 1,
			todayBtn : 1,
			autoclose : 1,
			todayHighlight : 1,
			startView : 2,
			forceParse : 0,
			showMeridian : 1
		});
		
		$("#flag").each(function(){
			if($(this).attr("id").substring==1){
				$(this).html("进行中");
			}else if($(this).attr("id").substring==2){
				$(this).html("成功结束");
			}else if($(this).attr("id").substring==3){
				$(this).html("异常");
			}
		});
		
	});
	/*]]>*/
</script>
</html>