<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>
<body>
	<div th:replace="theme/home :: top" />
	<div th:replace="theme/home :: p-h" />
	<div id="content">
		<div th:replace="theme/home :: left_menu" />
		<div class="m-right">
			<div th:replace="/theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform"
						class="navbar-form navbar-left" role="search">
						<input type="hidden" name="page" class="page"
							th:value="${session.currentpage}" /> <input type="hidden"
							name="orderby" class="orderby" th:value="${session.orderby}" />
						<input type="hidden" id="hpagesize" name="pageSize"
							th:value="${session.pagesize}" /> <input type="hidden"
							id="clause" name="clause" th:value="${session.clause}" />
						<div class="container">
							<div class="col-md-3">
								每页显示
								<div class="btn-group" role="group">
									<button id="bpagesize" type="button"
										class="btn btn-default dropdown-toggle" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"
										th:text="${session.pagesize}">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#" id="pagesize1" data-value="10">10</a></li>
										<li><a href="#" id="pagesize2" data-value="20">20</a></li>
										<li><a href="#" id="pagesize2" data-value="30">30</a></li>
										<li><a href="#" id="pagesize2" data-value="40">40</a></li>
										<li><a href="#" id="pagesize2" data-value="50">50</a></li>
									</ul>
								</div>
								条

							</div>

							<div class="btn-group" role="group">
								<button id="bwhere" type="button"
									class="btn btn-default dropdown-toggle" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									--条件搜索--<span class="caret"></span>
								</button>

								<ul class="dropdown-menu">
									<li><a href="#" id="where1" data-value="plate"
										data-value1="--车牌号--">车牌号</a></li>
									<li><a href="#" id="where2" data-value="card_type"
										data-value1="--卡类型--">卡类型</a></li>
									<li><a href="#" id="where3" data-value="card_no"
										data-value1="--卡号-">卡号</a></li>
									<li><a href="#" id="where4" data-value="pay_money"
										data-value1="--充值金额--">充值金额</a></li>
									<li><a href="#" id="where5" data-value="park_id"
										data-value1="--停车场--">停车场</a></li>
									<li><a href="#" id="where6" data-value="accept_emp_name"
										data-value1="--收费人--">收费人</a></li>
								</ul>

							</div>
							&nbsp; <input type="text" id="twhere" /> &nbsp; <a id="search"
								class="btn btn-primary">搜索</a> <br /> <br />
							<div id="hwhere" value=""></div>

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">充值延期</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr class="h-tr">
													<td>编号</td>
													<td>停车场</td>
													<td>卡号</td>
													<td>车牌号</td>
													<td>卡类型</td>
													<td>充值金额</td>
													<td>月卡有效开始时间</td>
													<td>月卡有效截至时间</td>
													<td>收费人</td>
													<td>更新时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="cardIn,iterStat : ${cardIns}">
													<td th:text="${iterStat.count}"></td>
													<td th:text="${cardIn.parkId}"></td>
													<td th:text="${cardIn.cardNo}"></td>
													<td th:text="${cardIn.plate}"></td>
													<td id="cardType" th:text="${cardIn.cardType}"></td>
													<td th:text="${cardIn.payMoney}"></td>
													<td th:text="${cardIn.startDate}"></td>
													<td th:text="${cardIn.endDate}"></td>
													<td th:text="${cardIn.acceptEmpName}"></td>
													<td th:text="${cardIn.updateTime}"></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="10" class="choicepage"><a
														id="first" class="btn btn-primary">首页</a> <a id="prev"
														class="btn btn-primary">上一页</a> <span
														th:text="'当前第'+${session.currentpage}+'页/总共有'+${session.maxpage}+'页'"></span>
														<a id="next" class="btn btn-primary">下一页</a> <a id="last"
														class="btn btn-primary">尾页</a></td>
												</tr>
												<tr>
													<td align="center" colspan="10" class="choiceorder"><a
														id="plate" class="btn btn-primary form-control">按车牌排序</a>
														<a id="start_date" class="btn btn-primary form-control">按开始时间排序</a>
														<a id="end_date" class="btn btn-primary form-control">按结束时间排序</a>
														<a id="accept_emp_name"
														class="btn btn-primary form-control">按操作人员排序</a></td>

												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>

</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{/static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/static/jquery/dist/menu.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	navList(12);
	color();
	$(function() {
		$("[id^=cardType]").each(function() {
			if ($(this).text() == 1) {
				$(this).html("月卡");
			} else if ($(this).text() == 2) {
				$(this).html("免费卡");
			} else if ($(this).text() == 3) {
				$(this).html("储蓄卡");
			}

		});

		$("[id^=pagesize]").click(
				function(e) {
					$pagesize = $(this).attr("data-value");
					$("#hpagesize").val($pagesize);
					$bpagesize = $(this).attr("data-value")
							+ '<span class="caret"></span>';
					$("#bpagesize").html($bpagesize);
					$("#myform").submit();
				});
		$("[id^=where]").click(
				function(e) {
					$hwhere = $(this).attr("data-value");
					$("#search").val($hwhere);
					$bwhere = $(this).attr("data-value1")
							+ '<span class="caret"></span>';
					$("#bwhere").html($bwhere);
				});
		$("[id^=search]").click(function() {
			$clause = $("#search").val() + '=' + $("#twhere").val();
			if ($("#twhere").val() == '') {
				alert('值不能为空');
			} else if($("#search").val()==''){
				alert('请选择条件');
			}else{
				$("#clause").val($clause);
				$(".page").val("1")
				$("#myform").submit();
			}

		});
		
		$(".choicepage").children().click(function(){
			if($(this).attr("id")=="first"){
				$(".page").val("1")
			}else if($(this).attr("id")=="prev"){
				$(".page").val(""+[[${session.prevpage}]]+"")
			}else if($(this).attr("id")=="next"){
				$(".page").val(""+[[${session.nextpage}]]+"")
			}else if($(this).attr("id")=="last"){
				$(".page").val(""+[[${session.maxpage}]]+"")
			}
			$("#myform").submit();
		});
		$(".choiceorder").children().click(function(){
			if($(this).attr("id")=="plate"){
				$(".orderby").val("plate")
			}else if($(this).attr("id")=="start_date"){
				$(".orderby").val("start_date")
			}else if($(this).attr("id")=="end_date"){
				$(".orderby").val("end_date")
			}else if($(this).attr("id")=="accept_emp_name"){
				$(".orderby").val("accept_emp_name")
			}
			$("#myform").submit();
		});

	});
	/*]]>*/
</script>
</html>