<html xmlns="http://www.thymeleaf.org">
<head th:include="/theme/home :: header"></head>
<body>
	<div th:replace="/theme/home :: top" />
	<div th:replace="/theme/home :: p-h" />
	<div id="content">
		<div th:replace="/theme/home :: left_menu" />
		<div class="m-right">
			<div th:replace="/theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform"
						class="navbar-form navbar-left" role="search">
						<input type="hidden" name="page" value="1" /> <input
							type="hidden" name="orderby" th:value="${session.orderby}" /> <input
							type="hidden" id="hpagesize" name="pageSize" value="" />
						<div class="container">
							<div class="col-md-3">
								每页显示
								<div class="btn-group" role="group">

									<button id="bpagesize" type="button"
										class="btn btn-default dropdown-toggle" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"
										th:text="${session.pagesize}">
										<span class="caret"></span>
									</button>

									<ul class="dropdown-menu">
										<li><a href="#" id="pagesize1" data-value="10">10</a></li>
										<li><a href="#" id="pagesize2" data-value="20">20</a></li>
										<li><a href="#" id="pagesize2" data-value="30">30</a></li>
										<li><a href="#" id="pagesize2" data-value="40">40</a></li>
										<li><a href="#" id="pagesize2" data-value="50">50</a></li>
									</ul>
								</div>
								条
							</div>
							<br /> <br />
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">充值延期</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr class="h-tr">
													<td>编号</td>
													<td>停车场</td>
													<td>卡号</td>
													<td>车牌号</td>
													<td>卡类型</td>
													<td>充值金额</td>
													<td>月卡有效开始时间</td>
													<td>月卡有效截至时间</td>
													<td>收费人</td>
													<td>更新时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="cardIn,iterStat : ${cardIns}">
													<td th:text="${iterStat.count}"></td>
													<td th:text="${cardIn.parkId}"></td>
													<td th:text="${cardIn.cardNo}"></td>
													<td th:text="${cardIn.plate}"></td>
													<td id="cardType" th:text="${cardIn.cardType}"></td>
													<td th:text="${cardIn.payMoney}"></td>
													<td th:text="${cardIn.startDate}"></td>
													<td th:text="${cardIn.endDate}"></td>
													<td th:text="${cardIn.acceptEmpName}"></td>
													<td th:text="${cardIn.updateTime}"></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="10"><a
														th:href="'../cardin/cardinlist.do?page=1&amp;orderby='+${session.orderby}+'&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary">首页</a> <a
														th:href="'../cardin/cardinlist.do?page='+${session.prevpage}+'&amp;orderby='+${session.orderby}+'&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary">上一页</a> <span
														th:text="'当前第'+${session.currentpage}+'页/总共有'+${session.maxpage}+'页'"></span>
														<a
														th:href="'../cardin/cardinlist.do?page='+${session.nextpage}+'&amp;orderby='+${session.orderby}+'&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary">下一页</a> <a
														th:href="'../cardin/cardinlist.do?page='+${session.maxpage}+'&amp;orderby='+${session.orderby}+'&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary">尾页</a></td>
												</tr>
												<tr>
													<td align="center" colspan="10"><a
														th:href="'../cardin/cardinlist.do?page=1&amp;orderby=plate&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary form-control">按车牌排序</a> <a
														th:href="'../cardin/cardinlist.do?page=1&amp;orderby=start_date&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary form-control">按开始时间排序</a> <a
														th:href="'../cardin/cardinlist.do?page=1&amp;orderby=end_date&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary form-control">按结束时间排序</a> <a
														th:href="'../cardin/cardinlist.do?page=1&amp;orderby=accept_emp_no&amp;pageSize='+${session.pagesize}"
														class="btn btn-primary form-control">按操作人员排序</a></td>

												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>

</body>
<footer th:replace="/theme/home :: footer"></footer>
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
<script th:inline="javascript">
	navList(12);
	color();
	$(function() {
		$("[id^=cardType]").each(function() {
			if ($(this).text() == 1) {
				$(this).html("月卡");
			} else if ($(this).text() == 2) {
				$(this).html("免费卡");
			} else if ($(this).text() == 3) {
				$(this).html("储蓄卡");
			}

		});

		$("[id^=pagesize]").click(
				function(e) {
					$pagesize = $(this).attr("data-value");
					$("#hpagesize").val($pagesize);
					$bpagesize = $(this).attr("data-value")
							+ '<span class="caret"></span>';
					$("#bpagesize").html($bpagesize);
					$("#myform").submit();
				});

	});
</script>
</html>