<html xmlns="http://www.thymeleaf.org">
<head th:include="/theme/home :: header"></head>
<body>
	<div th:replace="/theme/home :: top" />
	<div th:replace="/theme/home :: p-h" />
	<div id="content">
		<div th:replace="/theme/home :: left_menu" />
		<div class="m-right">
			<div th:replace="/theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform"
						class="navbar-form navbar-left" role="search">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">充值延期</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr class="h-tr">
													<td>编号</td>
													<td>停车场</td>
													<td>卡号</td>
													<td>车牌号</td>
													<td>卡类型</td>
													<td>充值金额</td>
													<td>月卡有效开始时间</td>
													<td>月卡有效截至时间</td>
													<td>收费人</td>
													<td>更新时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="cardIn,iterStat : ${cardIns}">
													<td th:text="${iterStat.count}"></td>
													<td th:text="${cardIn.parkId}"></td>
													<td th:text="${cardIn.cardNo}"></td>
													<td th:text="${cardIn.plate}"></td>
													<td th:text="${cardIn.cardType}"></td>
													<td th:text="${cardIn.payMoney}"></td>
													<td th:text="${cardIn.startDate}"></td>
													<td th:text="${cardIn.endDate}"></td>
													<td th:text="${cardIn.acceptEmpName}"></td>
													<td th:text="${cardIn.updateTime}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-2 col-md-offset-5">
									<a target="_blank" href="edit.do"
										class="btn btn-primary form-control">增加</a>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>

</body>
<footer th:replace="/theme/home :: footer"></footer>
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
<script th:inline="javascript">
	navList(12);
	color();
</script>
</html>