<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>

<body>
	<div th:replace="theme/home :: top" />
	<div th:replace="theme/home :: p-h" />
	<div id="content">
		<div th:replace="theme/home :: left_menu" />
		<div class="m-right">
			<div th:replace="theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform">
						<input type="hidden" name="where" id="hwhere"
							th:value="${form.where}" /> <input type="hidden" name="orderby"
							id="horderby" th:value="${form.orderby}" /> <input type="hidden"
							name="page" id="page" th:value="${page.page}" /> <input
							type="hidden" name="page_size" id="page_size"
							th:value="${page.page_size}" /> <input type="hidden"
							name="page_count" id="page_count" th:value="${page.page_count}" />
						<div class="container">
							<br />
							<div class="row">
								<div class="col-md-2">

									<div class="input-group" style="vertical-align: middle">
										每页显示
										<div class="input-group-btn">
											<button id="page_title" type="button"
												class="btn btn-default dropdown-toggle"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false" th:text="${page.page_size}">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a name="page_s">10</a></li>
												<li><a name="page_s">20</a></li>
												<li><a name="page_s">30</a></li>
												<li><a name="page_s">50</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="input-group" style="vertical-align: middle">
										<div class="input-group-btn">
											<button id="bwhere" type="button"
												class="btn btn-default dropdown-toggle"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">
												--搜索条件-- <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#" id="where1" data-value="plate"
													data-value1="--车牌号--">车牌号</a></li>
												<li><a href="#" id="where2" data-value="card_type"
													data-value1="--卡类型--">卡类型</a></li>
												<li><a href="#" id="where3" data-value="card_no"
													data-value1="--卡号-">卡号</a></li>
												<li><a href="#" id="where4" data-value="pay_money"
													data-value1="--充值金额--">充值金额</a></li>
												<li><a href="#" id="where5" data-value="park_id"
													data-value1="--停车场编号--">停车场编号</a></li>
												<li><a href="#" id="where6" data-value="park_name"
													data-value1="--停车场名称--">停车场名称</a></li>
												<li><a href="#" id="where7"
													data-value="accept_emp_name" data-value1="--收费人--">收费人</a></li>
											</ul>
										</div>
										<input type="text" name="clause" id="clause"
											th:value="${form.clause}" />
										<button name="search" id="search"
											class="btn btn-default dropdown-toggle">搜索</button>
									</div>
								</div>

							</div>
							<br />
							<div class="row" th:inline="text"></div>
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">充值延期</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr align="center">
													<td>编号</td>
													<td>停车场编号</td>
													<td>停车场名称</td>
													<td>卡号</td>
													<td>车牌号</td>
													<td>卡类型</td>
													<td>充值金额</td>
													<td>月卡有效开始时间</td>
													<td>月卡有效截至时间</td>
													<td>收费人</td>
													<td>更新时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="cardIn,iterStat : ${cardIns}">
													<td
														th:text="${iterStat.count+(page.page-1)*page.page_size}"></td>
													<td th:text="${cardIn.park_id}"></td>
													<td th:text="${cardIn.park_name}"></td>
													<td th:text="${cardIn.card_no}"></td>
													<td th:text="${cardIn.plate}"></td>
													<td id="cardType" th:text="${cardIn.card_type}"></td>
													<td th:text="${cardIn.pay_money}"></td>
													<td th:text="${cardIn.start_date}"></td>
													<td th:text="${cardIn.end_date}"></td>
													<td th:text="${cardIn.accept_emp_name}"></td>
													<td th:text="${cardIn.update_time}"></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="11"><a id="choicepage1"
														href="javascript:sub(1)" class="btn btn-primary">首页</a> <a
														id="choicepage2" th:href="'javascript:sub('+${page.page-1}+')'"
														class="btn btn-primary">前页</a> <span
														th:text="'当前页:'+${page.page}+'/总页数:'+${page.page_count}"></span>
														<a id="choicepage3"
														th:href="'javascript:sub('+${page.page+1}+')'"
														class="btn btn-primary">后页</a> <a id="choicepage4"
														th:href="'javascript:sub('+${page.page_count}+')'"
														class="btn btn-primary">末页</a></td>
												</tr>
												<tr>
													<td align="center" colspan="11" class="choiceorder"> <a
														id="orderby1" data-value="plate"
														class="btn btn-primary ">按车牌排序</a> <a
														id="orderby2" data-value="start_date"
														class="btn btn-primary ">按开始时间排序</a> <a
														id="orderby3" data-value="end_date"
														class="btn btn-primary">按结束时间排序</a> <a
														id="orderby4" data-value="accept_emp_name"
														class="btn btn-primary ">按操作人员排序</a></td>

												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<br />


						</div>
					</form>
				</div>

			</div>

		</div>

	</div>
	<div class="source-code runnable"></div>


</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
<script
	th:src="@{../static/bootstrap/dist/js/bootstrap-datetimepicker.min.js}"></script>
<script
	th:src="@{../static/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap-dialog.min.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function sub(page) {
		$("#page").val(page);
		$("#myform").submit();
	}
	$("[id^=orderby]").click(function() {
		$horderby = $(this).attr("data-value");
		$("#horderby").val($horderby);
		if ($("#clause").val() == "") {
			$("#hwhere").val("");
			$("#bwhere").html('--搜索条件--<span class="caret"></span>');
		}
		$("#myform").submit();
	});

	$.fn.modal.Constructor.prototype.enforceFocus = function() {
	};
	$(function() {
		navList(12);
		color();
		$("[name=page_s]").click(function(e) {
			e.preventDefault();
			$("#page_title").text($(this).text());
			$("#page_size").val($(this).text());
			$("#page").val(1);
			$("#myform").submit();
		});

		$("[id^=where]").click(
				function(e) {
					$hwhere = $(this).attr("data-value");
					$("#hwhere").val($hwhere)
					$bwhere = $(this).attr("data-value1")
							+ '<span class="caret"></span>';
					$("#bwhere").html($bwhere);
				});
		$("#hwhere").each(function() {
			if ($(this).val() == "plate") {
				$bwhere = '--车牌号--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
			if ($(this).val() == "card_type") {
				$bwhere = '--卡类型--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
			if ($(this).val() == "card_no") {
				$bwhere = '--卡号--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
			if ($(this).val() == "pay_money") {
				$bwhere = '--充值金额--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
			if ($(this).val() == "park_id") {
				$bwhere = '--停车场编号--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
			if ($(this).val() == "park_name") {
				$bwhere = '--停车场名称--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
			if ($(this).val() == "accept_emp_name") {
				$bwhere = '--收费人--<span class="caret"></span>';
				$("#bwhere").html($bwhere);
			}
		});
		$("[id^=search]").click(function(e) {
			if ($("#hwhere").val() == "") {
				e.preventDefault();
				alert('请选择条件');
			} else if ($("#clause").val() == "") {
				e.preventDefault();
				alert('值不能为空');
			}
			$("#page").val("1");

		});
		$("[id^=cardType]").each(function() {
			if ($(this).text() == 1) {
				$(this).html("月卡");
			} else if ($(this).text() == 2) {
				$(this).html("免费卡");
			} else if ($(this).text() == 3) {
				$(this).html("储蓄卡");
			}
		});
		$("[id^=choicepage]").click(function(e) {
			if ($("#clause").val() == "") {
				$("#hwhere").val("");
				$("#bwhere").html('--搜索条件--<span class="caret"></span>');
			}
		});
	});
	/*]]>*/
</script>
</html>