<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>
<body>

	<form name="myform" method="get" action="usersave.do">
		<input type="hidden" name="id" th:value="${sysUser.id}" /> <input
			type="hidden" id="hgrade" name="enbled" th:value="${sysUser.enabled}" />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5" >用户名</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="logincode"
					th:value="${sysUser.loginCode}" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">密码</div>
			<div class="col-md-2">
				<input type="password" class="form-control" name="loginpassword" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">姓名</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="name"
					th:value="${sysUser.name}" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">邮箱</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="email"
					th:value="${sysUser.eMail}" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-2 col-md-offset-6">
				<button class="btn btn-primary form-control">提交</button>
			</div>
		</div>
		<br />
	</form>
</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{/static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/static/jquery/dist/autosize.min.js}"></script>
</html>