<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>
<body>

	<form name="myform" method="get" action="usersave.do">
		<input type="hidden" name="id" th:value="${sysUser.id}" /> <input
			type="hidden" id="hmailflag" name="mailflag" th:value="${sysUser.mailFlag}" />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">用户名</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="logincode"
					th:value="${sysUser.loginCode}" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">密码</div>
			<div class="col-md-2">
				<input type="password" class="form-control" name="loginpassword" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">姓名</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="name"
					th:value="${sysUser.name}" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">邮箱</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="email"
					th:value="${sysUser.eMail}" />
			</div>
		</div>
		<br />

		<div class="form-group">
			<div class="col-md-1 col-md-offset-5">接送邮件</div>
			<div class="col-md-3">
				<div class="btn-group" role="group">
					<button id="bmailflag" type="button"
						class="btn btn-default dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						请选择<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" id="mailflag1" data-value="是" data-value1="1">是</a></li>
						<li><a href="#" id="mailflag2" data-value="否" data-value1="0">否</a></li>
					</ul>
					<span id="sgrade"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 col-md-offset-6">
				<button class="btn btn-primary form-control">提交</button>
			</div>
		</div>
		<br />
	</form>
</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{/static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/static/jquery/dist/autosize.min.js}"></script>
<script th:inline="javascript">
	$(function() {
		$("[id^=mailflag]").click(
				function(e) {
					$mailflag = $(this).attr("data-value1");
					$("#hmailflag").val($mailflag);
					$bmailflag = $(this).attr("data-value")
							+ '<span class="caret"></span>';
					$("#bmailflag").html($bmailflag);
				});
		$("#hmailflag").each(function(){
			if($(this).val()==1){
				$bmailflag ='是<span class="caret"></span>';
				$("#bmailflag").html($bmailflag);
			}
			if($(this).val()==0){
				$bmailflag ='否<span class="caret"></span>';
				$("#bmailflag").html($bmailflag);
			}
			
		});
	});
</script>
</html>