<html xmlns="http://www.thymeleaf.org">
<head th:include="/theme/home :: header"></head>
<body>
	<div th:replace="/theme/home :: top" />
	<div th:replace="/theme/home :: p-h" />
	<div id="content">
		<div th:replace="/theme/home :: left_menu" />
		<div class="m-right">
			<div th:replace="/theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform"
						class="navbar-form navbar-left" role="search">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">收费记录</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr class="h-tr">
													<td>编号</td>
													<td>所在车库</td>
													<td>卡号</td>
													<td>卡类型</td>
													<td>车牌号</td>
													<td>应收金额</td>
													<td>实收金额</td>
													<td>免费类型</td>
													<td>免费金额</td>
													<td>收费类型</td>
													<td>操作人员</td>
													<td>开始时间</td>
													<td>结束时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="carParkPay,iterStat : ${carParkPays}" >
													<td th:text="${iterStat.count}"></td>
													<td th:text="${carParkPay.parkId}"></td>
													<td th:text="${carParkPay.cardNo}"></td>
													<td th:text="${carParkPay.cardType}"></td>
													<td th:text="${carParkPay.plate}"></td>
													<td th:text="${carParkPay.fee}">应缴金额</td>
													<td th:text="${carParkPay.realPay}">实缴金额</td>
													<td th:text="${carParkPay.freeType}">免费类型</td>
													<td th:text="${carParkPay.feeFree}">免费金额</td>
													<td th:text="${carParkPay.payType}">缴费类型</td>
													<td th:text="${carParkPay.empName}">操作人员</td>
													<td th:text="${carParkPay.startTime}">开始时间</td>
													<td th:text="${carParkPay.endTime}">结束时间</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="13"><a
														href="../carparkpay/carparkpaylist.do?page=1" class="btn btn-primary">首页</a>
														<a
														th:href="'../carparkpay/carparkpaylist.do?page='+${session.prevpage}"
														class="btn btn-primary">上一页</a> <span
														th:text="'当前第'+${session.currentpage}+'页/总共有'+${session.maxpage}+'页'"></span>
														<a
														th:href="'../carparkpay/carparkpaylist.do?page='+${session.nextpage}"
														class="btn btn-primary">下一页</a> <a
														th:href="'../carparkpay/carparkpaylist.do?page='+${session.maxpage}"
														class="btn btn-primary">尾页</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-2 col-md-offset-5">
									<a target="_blank" href="edit.do"
										class="btn btn-primary form-control">增加</a>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>

</body>
<footer th:replace="/theme/home :: footer"></footer>
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
<script th:inline="javascript">
	navList(12);
	color();
</script>
</html>