<html xmlns="http://www.thymeleaf.org">
<head th:include="/theme/home :: header"></head>
<body>
	<div th:replace="/theme/home :: menu" />
	<form name="myform" method="get" id="myform">
		<input type="hidden" name="del_id" id="del_id" value="" />
		<input type="hidden" name="id" id="id" value=""/>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
							权限信息
						</div>
						<table class="table table-bordered table-hover">
							<thead class="thead_success">
								<tr>
									<td>编号</td>
									<td>权限</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="sysRoleAuthority,iterStat : ${sysRoleAuthorityList}">
									<td th:text="${iterStat.count}"></td>
									<td th:text="${sysRoleAuthority.title}"></td>
									<td>
										<button class="btn btn-primary"
											th:id="'ddel' + ${sysRoleAuthority.id}">删除</button>
											</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-2 col-md-offset-5">
					<a target="_blank" th:href="'sysroleauthorityedit.do?id='+${role_id}"
						 th:id="'roleId'+${role_id}" class="btn btn-primary form-control">增加</a>
				</div>
			</div>
		</div>
	</form>
</body>
<footer th:replace="/theme/home :: footer"></footer>
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
	$(function() {
		$('li.dropdown').mouseover(function() {
			$(this).addClass('open');
		}).mouseout(function() {
			$(this).removeClass('open');
		});
		$("[id^=ddel]").click(function(e){
			e.preventDefault();
			$v = $(this).attr("id");
			$("#del_id").val($v.substring(4));
			$roleId=$("[id^=roleId]").attr("id")
			$("#id").val($roleId.substring(6));
			$("#myform").submit();
		});
	});
</script>
</html>s