<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>
<body>
	<br />
	<br />
	<div>
		<form name="myform" method="post" action="newpasswordsave.do">
	<input type="hidden"  class="login_id" name="login_id" th:value="${login_id}"/>
			<div class="row">
				<div class="col-md-offset-5 col-md-1">请输入原密码：</div>
				<div class="col-md-2">
					<input type="text" class="form-control" name="login_password" id="login_password" />
				</div>
			</div>
			<br/>
					<div class="row">
				<div class="col-md-offset-5 col-md-1">请输入新密码：</div>
				<div class="col-md-2">
					<input type="text" class="form-control" name="new_password" id="new_password" />
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-offset-6 col-md-2">
					<button class="btn btn-default form-control" target="_blank">修改</button>
				</div>
			</div>
		</form>
	</div>
</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{/static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/dist/js/bootstrap.min.js}"></script>

</html>