<html xmlns="http://www.thymeleaf.org">
<head th:include="/theme/home :: header"></head>
<body>
	<div th:replace="/theme/home :: left_menu" />
	
	   <div th:replace="/theme/home :: m-right" /> 
	
</body>
<footer th:replace="/theme/home :: footer"></footer>

<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
<script>
	navList(12);
</script>
</html>