<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>
<body>
	<div th:replace="theme/home :: top" />
	<div th:replace="theme/home :: p-h" />
	<div id="content">
		<div th:replace="theme/home :: left_menu" />
		<div class="m-right">
			<div th:replace="theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform"
						class="navbar-form navbar-left" role="search">
						<input type="hidden" name="del_id" id="del_id" value="" /> <input
							type="hidden" name="page" id="page" value="1" />
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">菜单信息</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr class="h-tr">
													<td>标题</td>
													<td>uri</td>
													<td>级别</td>
													<td>类型</td>
													<td>操作</td>
												</tr>
											</thead>
											<tbody>
												<tr name="grade" class="grade"
													th:id="'grade'+${sysAuthority.grade}"
													th:each="sysAuthority,iterStat : ${sysAuthoritys}">
													<td class="text" th:text="${sysAuthority.title}"></td>
													<td class="uri" th:text="${sysAuthority.uri}"></td>
													<td class="gradename" th:text="${sysAuthority.grade}"></td>
													<td class="flagname" th:text="${sysAuthority.flag}"></td>
													<td><a target="_blank"
														th:href="'edit.do?id='+${sysAuthority.Id}"
														class="btn btn-primary">修改</a>
														<button class="btn btn-primary"
															th:id="'ddel' + ${sysAuthority.Id}">删除</button></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="5"><a
														href="../authority/list.do?page=1" class="btn btn-primary">首页</a>
														<a
														th:href="'../authority/list.do?page='+${session.prevpage}"
														class="btn btn-primary">上一页</a> <span
														th:text="'当前第'+${session.currentpage}+'页/总共有'+${session.maxpage}+'页'"></span>
														<a
														th:href="'../authority/list.do?page='+${session.nextpage}"
														class="btn btn-primary">下一页</a> <a
														th:href="'../authority/list.do?page='+${session.maxpage}"
														class="btn btn-primary">尾页</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-2 col-md-offset-5">
									<a target="_blank" href="edit.do"
										class="btn btn-primary form-control">增加</a>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>

</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{/static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/static/jquery/dist/menu.js}"></script>
<script th:inline="javascript">
	navList(12);
	$(function() {
		$(".h-tr").css("background-color", "#fff");
		$("[id^=ddel]").click(function(e) {
			e.preventDefault();
			$v = $(this).attr("id");
			$("#del_id").val($v.substring(4));
			$("#myform").submit();
		});
		$(".grade").each(
				function() {
					if ($(this).attr("id").substring(5) == 1) {
						$(this).css("background-color", "#ccc");
						$(this).children(".gradename").html("一级").css(
								"text-indent", "1em");
					} else {
						$(this).css("background-color", "#fff");
						$(this).children(".text").css("text-indent", "1em");
						$(this).children(".uri").css("text-indent", "10em");
						$(this).children(".gradename").html("二级").css(
								"text-indent", "1em");

					}
					if ($(this).children(".flagname").text() == 1) {
						$(this).children(".flagname").html("菜单").css(
								"text-indent", "1em");
					} else {
						$(this).children(".flagname").html("功能").css(
								"text-indent", "1em");
					}
				});

	});
</script>
</html>