<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>洋世达停车场管理系统</title>
<link th:href="@{/static/bootstrap/dist/css/index-style.css}"
	rel="stylesheet" />
<script th:src="@{../static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{../static/jquery/dist/menu.js}"></script>
</head>

<body>
<div class="top"></div>
<div id="header">
  <div class="logo"> </div>
  <div class="navigation">
    <ul>
      <li>欢迎您！</li>
      <li><a href="">张山</a></li>
      <li><a href="">修改密码</a></li>
      <li><a href="">设置</a></li>
      <li><a href="">退出</a></li>
    </ul>
  </div>
</div>
<div id="content">
  <div class="left_menu">
    <ul id="nav_dot">
      <li>
        <h4 class="M1"><span></span>系统管理</h4>
        <div class="list-item none"> 
        <ul>
        <li><a href=''>菜单管理</a></li>
        <li><a href=''>角色管理</a></li>
         <li><a href=''>用户管理</a></li> 
         <li><a href=''>权限管理</a></li>
         <li><a href=''>报表管理</a></li>
         </ul></div>
      </li>
      <li>
        <h4 class="M2"><span></span>系统日志</h4>
        <div class="list-item none">
        <ul>
        <li><a href=''>审核日志</a></li>
        <li><a href=''>交接班日志</a></li>
         <li><a href=''>报表生成日志</a></li> 
         <li><a href=''>邮件发送日志</a></li>
         <li><a href=''>数据上传日志</a></li>
         </ul>
         </div>
      </li>
      <li>
        <h4 class="M3"><span></span>记录查询</h4>
        <div class="list-item none">
        <ul>
        <li><a href=''>场内记录</a></li>
        <li><a href=''>充值延期</a></li>
         <li><a href=''>手动开闸</a></li> 
         <li><a href=''>非法开闸</a></li>
         <li><a href=''>收费记录</a></li>
         </ul>
        </div>
      </li>
      <li>
        <h4 class="M4"><span></span>统计分析</h4>
        <div class="list-item none">
         <ul>
        <li><a href=''>收费统计</a></li>
        <li><a href=''>停车场统计</a></li>
         <li><a href=''>车流量统计</a></li> 
         <li><a href=''>收入统计</a></li>
         </ul> </div>
      </li>
      <li>
        <h4 class="M5"><span></span>交接班报表</h4>
        <div class="list-item none">
        <ul>
        <li><a href=''>交班记录</a></li>
         </ul></div>
      </li>
      <li>
        <h4  class="M6"><span></span>车库管理</h4>
        <div class="list-item none"> 
        <ul>
        <li><a href=''>车库管理</a></li>
        <li><a href=''>车库选择</a></li>
         </ul></div>
      </li>
    </ul>
  </div>
  <div class="m-right">
  
    <div class="right-nav">
      <div class="clear"></div>
      <ul>
        <li><img src="/static/images/home.png"/></li>
        <li style="margin-left:25px;">您当前的位置：</li>
        <li><a href="#">系统公告</a></li>
        <li>></li>
        <li><a href="#">最新公告</a></li>
      </ul>
    </div>
    <div class="main"> 
    <div class="h-bg">
    <img  src="/static/images/w-bg.jpg"/>
    </div>
    </div>
  </div>
</div>
<div class="bottom"></div>
<div id="footer">
  <p>停车场统计系统，洋世达集团所有。</p>
</div>
<script>navList(12);</script>
</body>

</html>
