<html xmlns="http://www.thymeleaf.org">
<head th:include="theme/home :: header"></head>
<body>
	<div th:replace="theme/home :: top" />
	<div th:replace="theme/home :: p-h" />
	<div id="content">
		<div class="left_menu" th:utext="${session.li}"/>
		<div class="m-right">
			<div th:replace="theme/home :: right-nav" />
			<div class="main">
				<div class="table-responsive">
					<form name="myform" method="get" id="myform"
						class="navbar-form navbar-left" role="search">
						<input type="hidden" name="page" class="page"
							th:value="${session.currentpage}" /> <input type="hidden"
							name="orderby" class="orderby" th:value="${session.orderby}" />
						<input type="hidden" id="hpagesize" name="pageSize"
							th:value="${session.pagesize}" /> <input type="hidden"
							id="clause" name="clause" th:value="${session.clause}" />
						<div class="container">
							<div class="col-md-3">
								每页显示
								<div class="btn-group" role="group">
									<button id="bpagesize" type="button"
										class="btn btn-default dropdown-toggle" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"
										th:text="${session.pagesize}">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#" id="pagesize1" data-value="10">10</a></li>
										<li><a href="#" id="pagesize2" data-value="20">20</a></li>
										<li><a href="#" id="pagesize2" data-value="30">30</a></li>
										<li><a href="#" id="pagesize2" data-value="40">40</a></li>
										<li><a href="#" id="pagesize2" data-value="50">50</a></li>
									</ul>
								</div>
								条
							</div>

							<div class="btn-group" role="group">
								<button id="bwhere" type="button"
									class="btn btn-default dropdown-toggle" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									--条件搜索--<span class="caret"></span>
								</button>

								<ul class="dropdown-menu">
									<li><a href="#" id="where1" data-value="plate"
										data-value1="--车牌号--">车牌号</a></li>
									<li><a href="#" id="where2" data-value="card_type"
										data-value1="--卡类型--">卡类型</a></li>
										<li><a href="#" id="where3" data-value="card_no"
										data-value1="--卡号-">卡号</a></li>
									<li><a href="#" id="where4" data-value="park_id"
										data-value1="--停车场编号--">停车场编号</a></li>
									<li><a href="#" id="where5" data-value="accept_emp_name"
										data-value1="--出场操作人--">出场操作人</a></li>
									<li><a href="#" id="where6" data-value="pay_money"
										data-value1="--入场操作人--">入场操作人</a></li>
								</ul>

							</div>
							&nbsp; <input type="text" id="twhere" /> &nbsp; <a id="search"
								class="btn btn-primary">搜索</a> <br /> <br />
							<div id="hwhere" value=""></div>

							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<!-- Default panel contents -->
										<div class="panel-heading">场内记录</div>
										<table class="table table-bordered table-hover">
											<thead class="thead_success">
												<tr class="h-tr">
													<td>编号</td>
													<td>停车场编号</td>
													<td>停车场名称</td>
													<td>卡号</td>
													<td>卡类型</td>
													<td>车牌号</td>
													<td>入场时间</td>
													<td>入场图片</td>
													<td>入场操作人员</td>
													<td>出场时间</td>
													<td>出场图片</td>
													<td>出场操作人员</td>
													<td>停车位图片</td>
													<td>更新时间</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="carIo,iterStat : ${carIos}">
													<td th:text="${iterStat.count}"></td>
													<td th:text="${carIo.park_id}"></td>
													<td th:text="${carIo.park_name}"></td>
													<td th:text="${carIo.card_no}"></td>
													<td id="cardType" th:text="${carIo.card_type}"></td>
													<td th:text="${carIo.plate}"></td>
													<td th:text="${carIo.come_time}"></td>
													<td class="compic"><img th:src="${carIo.come_pic_path}"
														width="102px" height="86px" /></td>
													<td th:text="${carIo.in_emp_name}"></td>
													<td th:text="${carIo.go_time}"></td>
													<td><img th:src="${carIo.go_pic_path}" width="102px"
														height="86px" /></td>
													<td th:text="${carIo.out_emp_name}"></td>
													<td><img th:src="${carIo.park_space_pic_path}" width="102px"
														height="86px" /></td>
													<td th:text="${carIo.update_time}"></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="center" colspan="13" class="choicepage"><a id="first"
														class="btn btn-primary">首页</a> <a id="prev"
														class="btn btn-primary">上一页</a> <span
														th:text="'当前第'+${session.currentpage}+'页/总共有'+${session.maxpage}+'页'"></span>
														<a id="next" class="btn btn-primary">下一页</a> <a id="last"
														class="btn btn-primary">尾页</a></td>
												</tr>
												<tr>
													<td align="center" colspan="13" class="choiceorder"><a id="plate"
														class="btn btn-primary form-control">按车牌排序</a> <a
														id="come_time" class="btn btn-primary form-control">按入场时间排序</a>
														<a id="go_time" class="btn btn-primary form-control">按出场时间排序</a>
														<a id="in_emp_name" class="btn btn-primary form-control">按入场操作人员排序</a>
														<a id="out_emp_name" class="btn btn-primary form-control">按出场操作人员排序</a></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<footer th:replace="theme/home :: footer"></footer>
<script th:src="@{/static/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/static/jquery/dist/menu.js}"></script>
<script th:inline="javascript">
	navList(12);
	color();
	$(function() {
		$("[id^=cardType]").each(function() {
			if ($(this).text() == 1) {
				$(this).html("月卡");
			} else if ($(this).text() == 2) {
				$(this).html("免费卡");
			} else if ($(this).text() == 3) {
				$(this).html("储蓄卡");
			} else if ($(this).text() == 4) {
				$(this).html("临时卡");
			}

		});

		$("[id^=pagesize]").click(
				function(e) {
					$(".page").val(1);
					$pagesize = $(this).attr("data-value");
					$("#hpagesize").val($pagesize);
					$bpagesize = $(this).attr("data-value")
							+ '<span class="caret"></span>';
					$("#bpagesize").html($bpagesize);
					$("#myform").submit();
				});
		$("[id^=where]").click(
				function(e) {
					$hwhere = $(this).attr("data-value");
					$("#search").val($hwhere);
					$bwhere = $(this).attr("data-value1")
							+ '<span class="caret"></span>';
					$("#bwhere").html($bwhere);
				});
		$("[id^=search]").click(function() {
			$clause = $("#search").val() + '=' + $("#twhere").val();
			if ($("#twhere").val() == '') {
				alert('值不能为空');
			} else if($("#search").val()==''){
				alert('请选择条件');
			}else{
				$("#clause").val($clause);
				$(".page").val("1")
				$("#myform").submit();
			}

		});
		
		$(".choicepage").children().click(function(){
			if($(this).attr("id")=="first"){
				$(".page").val("1");
			}else if($(this).attr("id")=="prev"){
				$(".page").val(""+[[${session.prevpage}]]+"");
			}else if($(this).attr("id")=="next"){
				$(".page").val(""+[[${session.nextpage}]]+"");
			}else if($(this).attr("id")=="last"){
				$(".page").val(""+[[${session.maxpage}]]+"");
			}
			$("#myform").submit();
		});
		$(".choiceorder").children().click(function(){
			if($(this).attr("id")=="plate"){
				$(".orderby").val("plate");
			}else if($(this).attr("id")=="come_time"){
				$(".orderby").val("come_time");
			}else if($(this).attr("id")=="go_time"){
				$(".orderby").val("go_time");
			}else if($(this).attr("id")=="in_emp_name"){
				$(".orderby").val("in_emp_name");
			}else if($(this).attr("id")=="out_emp_name"){
				$(".orderby").val("out_emp_name");
			}
			$("#myform").submit();
		});

	});
</script>
</html>